   <section class=" text-center" id="about">
           <div class="card bg-dark text-white">
  <img class="img-fluid" src="/images/ResurgentHomepage.jpg "alt="..." />
  <div class="card-img-overlay">
    <h5 class="card-title display-5 " >About Us</h5>
    <p class="card-text fs-5">DESIGNED & DEVELOPED IN PORTLAND, OREGON USA</p>
    <p class="card-text " >
Founded in 2002, ICON burst onto the scene with unabashed attitude and a heavy right wrist. ICON was created to address the modern performance rider who claimed the streets as their preferred hunting grounds. Our products are designed to address the unique needs of these riders—unforgiving asphalt, gravel-strewn corners, and inattentive cagers—all things we experience on our daily rides. As a company of riders we understand our kind, we know what goes on in our minds...and we’ve felt the pain when the inevitable occurs. This firsthand knowledge leads our inspired product design, industry leading imagery, and top-notch service. Our core mission is protecting riders whenever and however we can, knowing that reckoning day is coming for all of us. Be prepared, ride smart, and "Ride Among Us."</p>
  </div>
</div>
             
                
            
        </section>
      